*{
    text-decoration: none;
}

.img__main{
    width: 300px;
    height: 300px;
}

a{
    color: #fff;
}

.text__acima{
    background-color: #5899D6;
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 10px;

}


.img__main:hover{
    height: 310px;
    width: 310px;
    transition: .4s;
}

.list__main {
    display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
}



.list__item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-right: 9rem;
}

.list__item2 {
    grid-column: 2 / span 2;
    grid-row: 1/ span 1;
}

.list__item3 {
    grid-column: 1/ span 2;
    grid-row: 2 / span 2;
    width: 400px;
    padding-top: 1em; 

}

.img__baixo{
    width: 900px;
    object-fit: cover;
    height: calc(100% - 50px);

       
}

.img__baixo:hover{
    width: 910px;
    transition: .4s;
}

.texto__baixo{
    background-color: black; 
    color: #fff;
    width: 60vw; 
   text-align: center;
   height: 1.8em;
   border-radius: 10px;
} 


@media (max-width: 768px) {
    .texto__baixo{
        width: 100vw; 
    }
  }
  
